

<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :original_url, class: 'form-control', placeholder: 'Enter URL...' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Shorten Link', class: 'btn btn-success text-light' %>
  </div>
<% end %>

