<%= render 'layouts/navigation' %>

<div class="container">
  <div class="card col-md-6 mt-5 mx-auto">
    <div class="card-body">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Link:</strong>
        <%= @link.original_url %>
      </p>

      <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-success text-light' %> |
      <%= link_to 'Back', links_path, class: 'btn btn-secondary text-light' %>
    </div>
  </div>
</div>
