<%= render 'layouts/navigation' %>

<div class="container">
  <div class="card col-md-6 mt-5 mx-auto">
    <div class="card-body">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Here is your Shorten URL:</strong>
        <%= link_to @short_url, @link.original_url %>
        <br />
        <p class="py-2"><i>You will be redirected to the original url in 10 seconds...</i></p>
      </p>

      <script>
        setTimeout(function(){ window.location.href = '<%= @link.original_url %>', target="_blank" }, 10000);
      </script>

      <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-success text-light' %> |
      <%= link_to 'Back', links_path, class: 'btn btn-secondary text-light' %>
    </div>
  </div>
</div>
